*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container {
    height: 730px;
    width: 508px;
    margin: auto;
    border: 1px solid black;
}

.header {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header .left {
    padding-top: 60px;
}

.header .left span {
    font-size: 11px;
}

.header .left h2 {
    color: rgb(60, 111, 200);
}

.header .right img {
    padding-top: 20px;
    height: 130px;
}

.middle {
    margin: 15px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.middle h1 {
    color: rgb(60, 111, 200);
}

.middle h1{
    border-bottom: 1px solid rgb(60, 111, 200);  
    position: relative;
}
.middle h2{
    margin-top: 6px;
    padding-right: 5px;
    font-size: 17px;
    font-weight: 750;
    font-size: 25px;
}

.middle h2 span{
    color: rgb(60, 111, 200);
}

.middle-2{
    margin: 55px 15px;

}

.middle-2 P{
    margin-top: 10px;
}

.footer{
    margin: 16px;
}

.footer img{
    height: 110px;
    width: 490px;
}

.footer-2{
    display: flex;
    justify-content: center;
    color: rgb(60, 111, 200);
    font-size: 11px;
}